@import url(https://cdn.geheimesite.nl/reset.css);

:root {
  --primary: #5c8782;
}

html {
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
}

body {
  margin: 0;
}

a {
  color: var(--primary);
}

header {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

nav a {
  text-decoration: none;
  padding: 5px 12px;
}

nav a.selected {
  background: var(--primary);
  color: white;
}

section > div {
  max-width: 1100px;
  margin: 2em auto;
  padding: 0 10px;
}

.primary {
  color: white;
  background: var(--primary);
}

.primary a {
  color: white;
}

section.primary > div {
  padding: 2em 10px;
}

div.primary {
  padding: 0.5em 1em;
}

video, audio, iframe {
  width: 100%;
}

details {
  margin-left: 0.25em;
}

summary {
  font-size: 1.2em;
  cursor: pointer;
}

@media (min-width: 1100px) {
  .right {
    float: right;
    margin-left: 1.75em;
    margin-bottom: 1.75em;
    max-width: 400px;
  }

  .right > :first-child {
    margin-top: 0;
  }
}

.button {
  background-color: var(--primary);
  text-decoration: none;
  padding: 0.5em 1em;
  display: inline-block;
}

.primary .button {
  background-color: white;
  color: var(--primary);
}