<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %} 
      {{ page.title }} &middot; {{ site.title }} 
    {% endif %}
  </title>
 
  <link rel="icon" sizes="16x16" href="/favicon.ico">
  <link rel="apple-touch-icon" sizes="16x16" href="/favicon.ico">

  <link rel="stylesheet" href="{{ 'main.css' | relative_url }}">
  <meta name="color-scheme" content="light dark">

  {% include dependencies.html %}

  <script async src="https://plausible.io/js/pa-KNvaxK-yJH6b6Sp8HJCuU.js"></script>
  <script>
    window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
    plausible.init()
  </script>
</head>
